#cartwidget img {
  height: 20px;
}

.navbar {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}

.navbar li {
  padding: 1rem;
}

.navbar li a {
  text-decoration: none;
  color: #fff;
}
